<!DOCTYPE html>
<html>
    <head>
        <title>hello</title>
    </head>
    <body>
        <h1>Hello, world!</h1>
        <img src="../static/sheep_pose.jpg">
        <button onclick="displayAlert()">Click me!</button>
        
        <script>
            function displayAlert() {
              alert("Wow!");
            }
          </script>
          <a href="https://domino.ksmpartners.com/modelproducts/67a52df95b902c4c38746378/projects"> To Projects </a>
        <p></p>
    </body>
</html>